{
	"semi": true,
	"singleQuote": true,
	"formatOnSave": true,
	"trailingComma": "all",
	"tabWidth": 4,
	"insertSpaces": false,
	"useTabs": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"printWidth": 160,
	"eslintIntegration": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
